<sly data-sly-use.model="com.myproject.core.models.Header"> <sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='myproject.bootcamp'}" /> <header
	class="blog-header py-3">
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-12 text-center">
			<a class="blog-header-logo text-dark" href="${properties.Homelink}" name="top" >
				<img src="${properties.image}" class="ttn-logo">
				${properties.logoText}
			</a>
		</div>
	</div>
</header>

<div class="nav-scroller py-1 mb-2">
	<nav class="nav d-flex">
		<sly data-sly-test="${pageProperties.presets=='Home'}"> <a
			class="p-2 text-muted" href="${properties.Homelink}">Home</a> </sly>
		<sly data-sly-test="${pageProperties.presets=='Published Blogs'}">
		<a class="p-2 text-muted" href="${properties.PublishedBlogslink}">Published
			Blogs</a> </sly>
		<sly data-sly-test="${pageProperties.presets=='Both'}"> <a
			class="p-2 text-muted" href="${properties.Homelink}">Home</a> <a
			class="p-2 text-muted" href="${properties.PublishedBlogslink}">Published
			Blogs</a> </sly>
	</nav>
</div>
</sly>