<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
data-sly-call="${clientlib.all @ categories='myproject.bootcamp'}"/>
<main role="main" class="container">
	<div class="row">
		<div class="p-3">
			<h4 class="font-italic">Archives</h4>
			<ol class="list-unstyled mb-0">
				<li><a href="${properties.linkText1}">January 2022</a></li>
				<li><a href="${properties.linkText2}">February 2022</a></li>
				<li><a href="${properties.linkText3}">March 2022</a></li>
				<li><a href="${properties.linkText4}">April 2022</a></li>
				<li><a href="${properties.linkText5}">May 2022</a></li>
				<li><a href="${properties.linkText6}">June 2022</a></li>
				<li><a href="${properties.linkText7}">July 2022</a></li>
				<li><a href="${properties.linkText8}">August 2022</a></li>
				<li><a href="${properties.linkText9}">September 2022</a></li>
				<li><a href="${properties.linkText10}">October 2022</a></li>
				<li><a href="${properties.linkText11}">November 2022</a></li>
				<li><a href="${properties.linkText12}">December 2022</a></li>
			</ol>
		</div>
	</div>
</main>