<sly data-sly-use.model="com.myproject.core.models.NodeDataModel"/>
<body>
<form id="Form1"   method="POST">
    <label>First name:</label>
    <input type="text" name="firstName" placeholder="Enter Firstname">
    <br>
    <label>Last name:</label>
    <input type="text" name="lastName" placeholder="Enter Lastname">
    <br>
    <input id="post" type="submit" value="Post">
</form>
<div>
<p>Piyush</p>
<ul data-sly-list="${model.allChildren}">
<li>${item.name}</li>
</ul>
</div>
</body>

<script>
var frm = $('#Form1');

    frm.submit(function (e) {

        e.preventDefault();

        $.ajax({
            type: frm.attr('method'),
            url:  "/bin/submitdata2",
            data: frm.serialize(),
            success: function (data) {
                alert("Success");
                console.log('Submission was successful.');
                console.log(data);
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });
</script>