<sly data-sly-use.model="com.myproject.core.models.BlogsListModel"/>
<sly data-sly-use.pageModel="com.myproject.core.models.PageModel"/>
 <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
data-sly-call="${clientlib.all @ categories='myproject.bootcamp'}"/>

<div class="container">
	<div class="row mb-2">
		<sly data-sly-test="${pageModel.noOfBlogs==0}"> 
		<sly data-sly-list="${model.blogList}"> 
		<sly data-sly-test="${itemList.index==0}">
		<div class="col-md-4">
			<div class="card flex-md-row mb-4 shadow-sm h-md-400">
				<div class="card-body d-flex flex-column align-items-start">
					<img class="card-img-right flex-auto d-none d-lg-block"
						src=${item.image} style="height: 200px; width: 250px"
						alt="Card image cap"> <strong
						class="d-inline-block mb-2 text-success">${item.blogTag}</strong>
					<h3 class="mb-0">
						<a class="text-dark" href="${item.blogLink}">${item.blogTitle}</a>
					</h3>
					<div class="mb-1 text-muted">
						<sly data-sly-use.obj="java.util.Date">${ 'MMM-dd' @
						format=pageProperties.jcr:created}</sly>
					</div>
					<p class="card-text mb-auto">${item.blogDescription}</p>
					<a href="${item.blogLink}">Continue reading</a>
				</div>
			</div>
		</div>
		</sly> </sly> </sly>
		<sly data-sly-test="${pageModel.noOfBlogs>0}"> 
		<sly
			data-sly-list="${model.blogList @begin=0,end=pageModel.noOfBlogs}">
		<div class="col-md-4">
			<div class="card flex-md-row mb-4 shadow-sm h-md-400">
				<div class="card-body d-flex flex-column align-items-start">
					<img class="card-img-right flex-auto d-none d-lg-block"
						src=${item.image} style="height: 200px; width: 250px"
						alt="Card image cap"> <strong
						class="d-inline-block mb-2 text-success">${item.blogTag}</strong>
					<h3 class="mb-0">
						<a class="text-dark" href="${item.blogLink}">${item.blogTitle}</a>
					</h3>
					<div class="mb-1 text-muted">
						<sly data-sly-use.obj="java.util.Date">${ 'MMM-dd' @
						format=pageProperties.jcr:created}</sly>
					</div>
					<p class="card-text mb-auto">${item.blogDescription}</p>
					<a href="${item.blogLink}">Continue reading</a>
				</div>
			</div>
		</div>
		</sly> </sly>
	</div>
</div>